/* banner */

.banner {
   @include flex-row-center;
    width: 100%;
    height:12.5rem;
    background-size: cover;
    background-repeat: no-repeat;
    background-position:0 5%;
    border-bottom: 10px solid #1A3755;
 }
 
 .banner.uno {
    background-image: url('../img/banner.jpg');
 }
 
 .banner.dos {
    background-image: url('../img/torreon.jpg');
 }
 
 .banner.tres {
    background-image: url('../img/mdpwall.jpg');
 }
 
 .banner.cuatro {
    background-image: url('../img/casino2.jpg');
 }
 
 .banner .cont-p {
    width: auto ;
    background-color: rgba(33, 42, 49, 0.7);
    padding:10px 30px 5px 30px;
    border-radius: 4px;
 }
 
 .banner .cont-p p.text-banner {
    display:none;
 }
 
 .banner .cont-p h1 {
    font-size: map-get($fontSize, fonts24);
    color: #F8F9FA;
    text-align: center;
 }
 
 .banner .titulobanner {
    color: #fff;
 }

 .cont-animation {
   display: inline-block;
   margin-top: 5px;
 }

 .texto {
   width:100%;   
   animation: animacion 1.5s steps(25), transparent .5s step-end infinite alternate;
   white-space: nowrap;
   overflow: hidden;
   color: #333;
   border-right: 3px solid;
 }
 
 @keyframes animacion {
   from {
     width: 0px
   }
 }
     
 @keyframes transparent {
   50% {
     border-color: transparent
   }
 }
 
 
 
 
 
 