
body {

    background-color: map-get($bgColor, Body);
    font-family: "Karla", sans-serif;
}

/* elementos menu top  */

/* #### HEADER #### */

header {
   background-color: map-get($bgColor,Header);
}

.logo img {
    width: 12.5rem;
    height: 3.4375rem;
 }
 
 /* menu top */
 
 .nav-fs {
    font-size: 1.125rem;
 }
 
 .navbar-nav ul li a { 
    color: #ccc;
    font-family: "Karla", sans-serif;
    font-weight: 400;
 }
 
 .navbar-nav ul li a:hover {
    color: #1A3755;
    background-color: #ddd;
 }
 
 a.nav-link {
    border-bottom: 3px solid #fff;
    padding: 10px 15px 10px 15px;
 }
 
 a.nav-link:hover {
    color:#444;
    display: flex;
    border-bottom: 3px solid #ddd;
    background-color: #fafafa;
 } 
 
 a.active {
    color: skyblue;
    border-bottom: 3px solid #029DCA;
 }
 
 .redes {
    height:100px;
    display: none;
    color: #fafafa;
    background-color: map-get($bgColor , SocialBar );
    }

 .info-footer li a{
    list-style: none;
    text-decoration: none;
 
 }
 
 .link-dnone{
    text-decoration: none;
 }

.social-bar {
            display: flex;
            flex-direction: row;
            justify-content: end;
            margin-top:0.4375rem;
          
            i {
               font-size: map-get($fontSize, fonts15);
               margin-left: 5px; 
            }

            a i {
               font-size: map-get($fontSize, fonts14);
               margin-top: 5px;
            }
}



