$fontSize:(
    fonts24:1.5rem,
    fonts22:1.375rem,
    fonts20:1.25rem,
    fonts18:1.125rem,
    fonts16:1rem,
    fonts14:.875rem,
);

$display:(
    displayF:flex,
    displayB:block,
    displayN:none,
);