$fontSize:(
    fonts24:1.5rem,
    fonts22:1.375rem,
    fonts20:1.25rem,
    fonts18:1.125rem,
    fonts16:1rem,
    fonts15:.9375rem,
    fonts14:.875rem,
);

$bgColor:(
    Body:#F9F8F7,
    Header:#fff, 
    SocialBar:#1A3755,
    Footer:#323A40,
    FooterP:#ddd,
);

$bgColorComponents:(
    CardFooter:#fff,
    CardComment:#fafafa,
    CardAvatar:#666666,
)